body {
  background: #333;
}
h1, h3, p, span {
  color: #fff;
}
#degree {
  display: inline-block;
}
span {
  font-size: 1.5em;
  color: #006dcc;
}
span:hover {
  color: #005096;
  cursor: pointer;
}
#desc {
  text-transform: capitalize;
}
